li.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.ccurves li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.card-header {
	background-color: transparent;
}

.cenutabula .table td {
	padding: 0.05rem;
}

.cenutabula .table th {
	padding: 0.2rem;
	background-color: khaki;
	border: none;
}

