<!--<span class="badge">Curve</span>
    [tableClass]="'table table-sm border rounded table-striped'"
    [rowFormatter]="SaistibasTable.rowFormatter"
                     [responsiveLayout]="SaistibasTable.responsiveLayout"
                     [responsiveLayoutCollapseStartOpen]="SaistibasTable.responsiveLayoutCollapseStartOpen"
                     [rowClick]="SaistibasTable.rowClick"
    *ngIf="status$|async as stts"
    [disabled]="!stts.state.writing"
    -->

<div class="container-fluid">
    <div class="row"> <h3>Calibration curves</h3> </div>
    <div class="row">
        <div class="col">
            <!--<div class="row">
                <ul class="ccurves">
                    <li *ngFor="let curve of CCurves"
                        [class.selected]="curve === selectedCurve"
                        (click)="onSelect(curve)">
                        {{curve.name}}
                    </li>
                </ul>
            </div>-->
            <div class="row">
                <div *ngIf="data$|async as data" class="card-body bg-light border-top">
                    <div class="row">
                        <div class="col-9">
                            <!--<h6>{{selectedCurve.name}}</h6>-->
                            <select [(ngModel)]="selectedCurve" (change)="onSelect($event.target.value)"
                                    class="browser-default custom-select"
                                    [disabled]="editCurve">
                                <option *ngFor="let curve of CCurves" [ngValue]="curve">{{curve.name}}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger" type="button" (click)="EditClic()" [hidden]="editCurve">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="currentData" class="container rounded border bg-light m-1">
                            <div class="row h5">
                                <div class="col">Value</div>
                                <div class="col">Voltage, V</div>
                                <div class="col">Force, N</div>
                            </div>
                            <div class="row border-top">
                                <div class="col">average</div>
                                <div class="col">{{currentData.avgVoltage| number:"1.0-3"}}</div>
                                <div class="col">{{currentData.avgForce| number:"1.0-3"}}</div>
                            </div>
                            <div class="row border-top font-weight-light">
                                <div class="col">actual</div>
                                <div class="col">{{currentData.currVoltage| number:"1.0-3"}}</div>
                                <div class="col">{{currentData.currForce| number:"1.0-3"}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="editCurve" class="row">
                        <!--*ngIf="edit"-->
                        <div class="col-12 col-sm-6 pr-sm-0 col-md-12 pr-md-3 col-xl-6 pr-xl-0">
                            <div class="btn-group btn-block">
                                <button class="btn btn-secondary" type="button"
                                        (click)="InserRowBefore()" title="Insert row above">
                                    <i class="fa fa-plus-circle"></i><i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-secondary" type="button"
                                        (click)="InserRowAfter()" title="Insert row below">
                                    <i class="fa fa-plus-circle"></i><i class="fa fa-arrow-down"></i>
                                </button>
                                <button class="btn btn-secondary" type="button" [disabled]="selectedRow.Nr==null"
                                        (click)="MoveUp()" title="Move selected row up">
                                    <i class="fa fa-long-arrow-up"></i>
                                </button>
                                <button class="btn btn-secondary" type="button" [disabled]="selectedRow.Nr==null"
                                        (click)="MoveDown()" title="Move selected row down">
                                    <i class="fa fa-long-arrow-down"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-12 col-sm-6 pl-sm-0 col-md-12 pl-md-3 col-xl-6 pl-xl-0">
                            <div class="btn-group btn-block">
                                <button class="btn btn-secondary" type="button" [disabled]="selectedRow.Nr==null"
                                        (click)="DeleteRow()" title="Dete row">
                                    Delete
                                </button>
                                <button class="btn btn-danger" type="button"
                                        (click)="SaveData()" title="Save curve">
                                    Save
                                </button>
                                <button class="btn btn-secondary" type="button"
                                        (click)="CancelEdit()" title="Cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>

                    <table *ngIf="data$|async as data" class="table mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Voltage, V</th>
                                <th scope="col">Force, N</th>
                                <th *ngIf="editCurve" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of data" (click)="onSelectRow(r)">
                                <td *ngIf="r.Nr !== selectedRow.Nr">{{r.x| number}}</td>
                                <td *ngIf="r.Nr === selectedRow.Nr"><input type="number" [(ngModel)]="selectedRow.x" class="form-control" /></td>
                                <td *ngIf="r.Nr !== selectedRow.Nr">{{r.y| number}}</td>
                                <td *ngIf="r.Nr === selectedRow.Nr"><input type="number" [(ngModel)]="selectedRow.y" class="form-control" /></td>
                                <td *ngIf="r.Nr !== selectedRow.Nr && editCurve"><i class="fa fa-pencil-square fa-lg pointer"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
