################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/webapp/node_modules/.bin
/webapp/node_modules
ExperimentalData/.h5
