<div class="container">
    <div *ngIf="lSettings">
        <h1>Settings</h1>

        <form (ngSubmit)="onSubmit()" [formGroup]="settingsForm">
            <mat-form-field class="control-full-width" appearance="outline">
                <mat-label>Name Surname</mat-label>
                <input type="text" name="user" matInput [formControl]="userControl" [matAutocomplete]="auto"
                       [errorStateMatcher]="matcher">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="userControl.hasError('required')">
                    Bearing description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- [value]="lSettings.bearing"
         [value]="lSettings.output_file"
        -->
            <mat-form-field class="control-full-width" appearance="outline">
                <mat-label>Bearing description</mat-label>
                <textarea matInput
                          name="bearing"
                          [formControl]="bearingDescrControl"
                          [errorStateMatcher]="matcher"></textarea>
                <!-- [errorStateMatcher]="matcher" -->
                <mat-error *ngIf="bearingDescrControl.hasError('required')">
                    Bearing description is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="row">
                <div class="col-8">
                    <mat-form-field class="control-full-width" appearance="outline">
                        <mat-label>Output file name</mat-label>
                        <input type="text" matInput
                               name="output_file"
                               [formControl]="outputFileNameControl"
                               [errorStateMatcher]="matcher">
                        <mat-error *ngIf="outputFileNameControl.hasError('required')">
                            Output file name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="outputFileNameControl.hasError('outputFileExists')">
                            Output file <strong>already exists</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="control-full-width" appearance="outline">
                        <mat-label>Recording interval, s</mat-label>
                        <input type="text" matInput
                               name="recording_cycle"
                               [formControl]="recIntervalControl"
                               [errorStateMatcher]="matcher">
                        <mat-error *ngIf="recIntervalControl.hasError('required')">
                            Recording interval is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

                <!--<div *ngIf="!lSettings.manual_mode" class="form-group">
        <label for="total_duration">Maximum experiment duration, minutes</label>
        <input type="number" class="form-control" id="total_duration" placeholder="Example: 24"
               required min="1" max="10000"
               [(ngModel)]="lSettings.total_duration" name="total_duration" #total_duration="ngModel" />
        <div [hidden]="total_duration.valid"
             class="alert alert-danger">
            Maximum experiment duration is required
        </div>
    </div>

    <div *ngIf="!lSettings.manual_mode" class="form-group">
        <label for="load">Applied load, N</label>
        <input type="number" class="form-control" id="load" placeholder="1<load<1000"
               required min="1" max="1000"
               [(ngModel)]="lSettings.load" name="load" #load="ngModel" />
        <div [hidden]="load.valid"
             class="alert alert-danger">
            Applied load is required
        </div>
    </div>

    <div *ngIf="!lSettings.manual_mode" class="form-group">
        <label for="rpm">Revolutions per minute(RPM)</label>
        <input type="number" class="form-control" id="rpm" placeholder="300<load<3000"
               required min="300" max="3000"
               [(ngModel)]="lSettings.rpm" name="rpm" #rpm="ngModel" />
        <div [hidden]="rpm.valid"
             class="alert alert-danger">
            Applied load is required
        </div>
    </div>

    <div *ngIf="!lSettings.manual_mode" class="form-group">
        <label for="friction_force_threshold">Friction force threshold, N</label>
        <input type="number" class="form-control" id="friction_force_threshold" placeholder="Example: 2"
               required min="10" max="1000"
               [(ngModel)]="lSettings.friction_force_threshold" name="friction_force_threshold" #friction_force_threshold="ngModel" />
        <div [hidden]="friction_force_threshold.valid"
             class="alert alert-danger">
            Friction force threshold is required
        </div>
    </div>

    <div *ngIf="!lSettings.manual_mode" class="form-group">
        <label for="temperature_threshold">Temperature threshold, °C</label>
        <input type="number" class="form-control" id="temperature_threshold" placeholder="Example: 2"
               required min="25" max="120"
               [(ngModel)]="lSettings.temperature_threshold" name="temperature_threshold" #temperature_threshold="ngModel" />
        <div [hidden]="temperature_threshold.valid"
             class="alert alert-danger">
            Temperature threshold is required
        </div>
    </div>-->

                <mat-checkbox formControlName="manualModeControle" name="manual_mode">Programmed experiment</mat-checkbox>

                <!--<div class="form-group">
        <label for="manual_mode">Programmed experiment</label>
        <input type="checkbox" class="form-control" id="manual_mode"
               [(ngModel)]="lSettings.manual_mode" name="manual_mode" #manual_mode="ngModel" />
    </div>-->

                <div>
                    <div class="card-body bg-light border-top">
                        <div *ngIf="lSettings.manual_mode" class="row">
                            <div class="col-12 col-sm-6 pr-sm-0 col-md-12 pr-md-3 col-xl-6 pr-xl-0">
                                <div class="btn-group btn-block">
                                    <button class="btn btn-secondary" type="button"
                                            (click)="InserRowBefore()" title="Insert row above">
                                        <i class="fa fa-plus-circle"></i><i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button class="btn btn-secondary" type="button"
                                            (click)="InserRowAfter()" title="Insert row below">
                                        <i class="fa fa-plus-circle"></i><i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button class="btn btn-secondary" type="button" [disabled]="selectedRow==null"
                                            (click)="MoveUp()" title="Move selected row up">
                                        <i class="fa fa-long-arrow-up"></i>
                                    </button>
                                    <button class="btn btn-secondary" type="button" [disabled]="selectedRow==null"
                                            (click)="MoveDown()" title="Move selected row down">
                                        <i class="fa fa-long-arrow-down"></i>
                                    </button>
                                    <button class="btn btn-secondary" type="button" [disabled]="selectedRow==null"
                                            (click)="DeleteRow()" title="Dete row">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- "duration":0.25, "load":0.0,"RPM":1000,"Tmax":100,"Fmax":10 -->
                            <div class="col-2">Duration, minutes</div>
                            <div class="col-2">Load, N</div>
                            <div class="col-2">Revolutions per minute</div>
                            <div class="col-3">Friction force threshold</div>
                            <div class="col-3">Temperature threshold, °C</div>
                        </div>
                        <div *ngFor="let r of programmList" class="row" (click)="onSelectRow(r)">
                            <!-- "duration":0.25, "load":0.0,"RPM":1000,"Tmax":100,"Fmax":10 -->
                            <div *ngIf="r!=selectedRow" class="card-body bg-light border-top">
                                <div class="row">
                                    <div class="col-2">{{r.duration}}</div>
                                    <div class="col-2">{{r.load}}</div>
                                    <div class="col-2">{{r.RPM}}</div>
                                    <div class="col-3">{{r.Fmax}}</div>
                                    <div class="col-3">{{r.Tmax}}</div>
                                </div>
                            </div>
                            <div *ngIf="r==selectedRow" class="card-body bg-light border-top">
                                <div class="row">
                                    <div class="col-2">
                                        <mat-form-field class="control-full-width" appearance="outline">
                                            <input type="number" matInput
                                                   name="pr_du" [formControl]="durationControl"
                                                   [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                        <!--<input type="number" matInput
                                                   name="pr_du" [formControl]="durationControl"
                                                   [errorStateMatcher]="matcher">
                                        <input type="number" required min="1" max="10000"
                                               [(ngModel)]="selectedRow.duration" class="form-control" name="pr_du" />-->
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field class="control-full-width" appearance="outline">
                                            <input type="number" matInput
                                                   name="pr_load" [formControl]="loadControl"
                                                   [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                        <!--<input type="number" matInput
                                                   name="pr_load" [formControl]="loadControl"
                                                   [errorStateMatcher]="matcher">-->
                                            <!--<input type="number" required min="1" max="1000"
                                                   [(ngModel)]="selectedRow.load" class="form-control" name="pr_load" />-->
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field class="control-full-width" appearance="outline">
                                            <input type="number" matInput
                                                   name="pr_rpm" [formControl]="RPMControl"
                                                   [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                        <!--<input type="number" matInput
                                                   name="pr_rpm" [formControl]="RPMControl"
                                                   [errorStateMatcher]="matcher">-->
                                        <!--<input type="number" required min="300" max="3000"
                                               [(ngModel)]="selectedRow.RPM" class="form-control" name="pr_rpm" />-->
                                    </div>
                                    <div class="col-3">
                                        <mat-form-field class="control-full-width" appearance="outline">
                                            <input type="number" matInput
                                                   name="pr_Fm" [formControl]="frictThreshControl"
                                                   [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                        <!--<input type="number" matInput
                                                   name="pr_Fm" [formControl]="frictThreshControl"
                                                   [errorStateMatcher]="matcher">-->
                                        <!--<input type="number" required min="10" max="1000"
                                               [(ngModel)]="selectedRow.Fmax" class="form-control" name="pr_Fm" />-->
                                    </div>
                                    <div class="col-3">
                                        <mat-form-field class="control-full-width" appearance="outline">
                                            <input type="number" matInput
                                                   name="pr_Tm" [formControl]="tempThreshControl"
                                                   [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                        <!--<input type="number" matInput
                                                   name="pr_Tm" [formControl]="tempThreshControl"
                                                   [errorStateMatcher]="matcher">-->
                                        <!--<input type="number" required min="25" max="120"
                                               [(ngModel)]="selectedRow.Tmax" class="form-control" name="pr_Tm" />-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!settingsForm.valid">Apply</button>
</form>
    </div>
</div>
