<div class="container">
    <div *ngIf="totState" [hidden]="submitted">
        <h1>Settings</h1>

        <!
        public working_directory: string,
        public user: string,
        public bearing: string,
        public output_file: string,
        public log_file: string,
        public friction_force_calibration_curve_file: string,
        public load_calibration_curve_file: string,
        public rpm_calibration_curve_file: string,
        // miliseconds
        public listening_interval: number,
        // listening intervals count
        public recording_cycle: 2,
        // listening intervals count
        public visualisation_cycle: number,
        // hours (manual mode)
        public total_duration: number,
        public manual_mode: boolea
        public friction_force_treshold: number,
        // C
        public temperature_treshold: number,
        -->

        <form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
            <div class="form-group">
                <label for="name">*Name</label>
                <input type="text" class="form-control" id="user" placeholder="Example: John Anyone"
                       required
                       [(ngModel)]="totState.settings.user" name="user" #user="ngModel" />
                <div [hidden]="user.valid || user.pristine"
                     class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">*Bearing description</label>
                <textarea type="text" class="form-control" id="bearing" placeholder="Example: Thrust ball bearing 65 (2011) 245-248"
                          required
                          [(ngModel)]="totState.settings.bearing" name="bearing" #bearing="ngModel"></textarea>
                <div [hidden]="bearing.valid || bearing.pristine"
                     class="alert alert-danger">
                    Bering description is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">*Output file name</label>
                <input type="text" class="form-control" id="output_file" placeholder="Example: result.h5"
                       required
                       [(ngModel)]="totState.settings.output_file" name="output_file" #output_file="ngModel" />
                <div [hidden]="output_file.valid || output_file.pristine"
                     class="alert alert-danger">
                    Output file name is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">*Recording period</label>
                <input type="text" class="form-control" id="recording_cycle" placeholder="Example: 1"
                       required
                       [(ngModel)]="totState.settings.recording_cycle" name="recording_cycle" #recording_cycle="ngModel" />
                <div [hidden]="recording_cycle.valid || recording_cycle.pristine"
                     class="alert alert-danger">
                    recording_cycle is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">*Experiment total duration, hours</label>
                <input type="text" class="form-control" id="total_duration" placeholder="Example: 24"
                       required
                       [(ngModel)]="totState.settings.total_duration" name="total_duration" #total_duration="ngModel" />
                <div [hidden]="total_duration.valid || total_duration.pristine"
                     class="alert alert-danger">
                    total_duration is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">*Friction force threshold, N</label>
                <input type="text" class="form-control" id="friction_force_treshold" placeholder="Example: 2"
                       required
                       [(ngModel)]="totState.settings.friction_force_treshold" name="friction_force_treshold" #friction_force_treshold="ngModel" />
                <div [hidden]="friction_force_treshold.valid || friction_force_treshold.pristine"
                     class="alert alert-danger">
                    Friction force threshold is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">*Temperature threshold, °C</label>
                <input type="text" class="form-control" id="temperature_treshold" placeholder="Example: 2"
                       required
                       [(ngModel)]="totState.settings.temperature_treshold" name="temperature_treshold" #temperature_treshold="ngModel" />
                <div [hidden]="temperature_treshold.valid || temperature_treshold.pristine"
                     class="alert alert-danger">
                    Temperature threshold is required
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!settingsForm.form.valid">Applay</button>
        </form>
    </div>
</div>
