<div class="container-fluid">
    <div class="row">
        <div class="container rounded border bg-light">
            <h6>Rotation control</h6>
            <input type="text" [(ngModel)]="rpmVal" name="rpm" #rpm>
            <button type="button" class="btn btn-light" (click)="rotation()">set RPM {{rpmVal}}/{{rpmVal/60.0}}</button>
            <button type="button" class="btn btn-danger" (click)="StopRotation()">Stop</button>
        </div>
    </div>
    <div class="row">
        <div class="container rounded border bg-light">
            <h6>Load control</h6>
            <button type="button" class="btn btn-light" (click)="loadPlus()">Increase load+</button>
            <button type="button" class="btn btn-light" (click)="loadMinus()">Decrease load-</button>
        </div>
    </div>
    <div class="row">
        <div class="container rounded border bg-light">
            <table *ngIf="currentData" class="table">
                <thead>
                    <tr>
                        <!--<th scope="col">time, V</th>-->
                        <th scope="col">RPM</th>
                        <th scope="col">Load, N</th>
                        <th scope="col">Friction, N</th>
                        <th scope="col">Temperature, °C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--<td>{{printNumVal(currentData.time)}}</td>-->
                        <td>{{printNumVal(currentData.rotationrate)}}</td>
                        <td>{{printNumVal(currentData.load)}}</td>
                        <td>{{printNumVal(currentData.frictionforce)}}</td>
                        <td>{{printNumVal(currentData.temperature)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-4">
          <div class="row">
            <ul *ngIf="currentData">
                <li>time:{{printNumVal(currentData.time)}}</li>
                <li>T:{{printNumVal(currentData.temperature)}}</li>
                <li>RPM:{{printNumVal(currentData.rotationrate)}}</li>
                <li>Load:{{printNumVal(currentData.load)}}</li>
                <li>Friction:{{printNumVal(currentData.frictionforce)}}</li>
            </ul>
          </div>
        </div>-->
        <div class="col">
            <div class="container rounded border bg-light">
                <canvas baseChart #listen height="400"
                        [datasets]="ChartListen.lineChartData"
                        [labels]="ChartListen.lineChartLabels"
                        [options]="ChartListen.lineChartOptions"
                        [colors]="ChartListen.lineChartColors"
                        [legend]="ChartListen.lineChartLegend"
                        [chartType]="ChartListen.lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>
