<div class="container-fluid">
    <div class="row">
        <div class="container rounded border bg-light m-1">
            <div class="row h5">
                <div class="col-3">Rotations control</div>
                <div class="col-4">Auto</div>
                <div class="col-5">Manual(VFD)</div>
            </div>
            <div class="row border-top">
                <div class="col-3"></div>
                <div class="col-4">
                    <input type="number" min="5" max="125" name="rpm_auto" #rpm_auto>
                    <button type="button" class="btn btn-info m-1">Apply</button>
                </div>
                <div class="col-5">
                    <input type="number" min="300" max="3000" [(ngModel)]="rpmVal" name="rpm_manual" #rpm_manual>
                    <button type="button" class="btn btn-info m-1" (click)="rotation()">Apply {{rpmVal| number:'1.1-1'}}[RPM]/{{rpmVal/60.0| number:'1.1-1'}}[Hz]</button>
                    <button type="button" class="btn btn-info m-1" (click)="StopRotation()">Stop</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container rounded border bg-light m-1">
           <div class="row h5">
               <div class="col-3">Load control</div>
                <div class="col-4">Auto</div>
                <div class="col-5">Manual</div>
            </div>
            <div class="row border-top">
                <div class="col-3"></div>
                <div class="col-4">
                    <input type="number" class="m-1" min="5" max="125" name="rpm_auto" #load_auto>
                    <button type="button" class="btn btn-info m-1">Apply</button>
                </div>
                <div class="col-5">
                    <button type="button" class="btn btn-info m-1" (click)="loadPlus()">Increase load</button>
                    <button type="button" class="btn btn-info m-1" (click)="loadMinus()">Decrease load</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container rounded border bg-light m-1">
            <div class="row h5">
                <div class="col">Thresholds</div>
                <div class="col">Friction, N</div>
                <div class="col">T, °C</div>
            </div>
            <div class="row border-top">
                <div class="col text-center mx-auto"><button type="button" class="btn btn-info m-1">Apply</button></div>
                <div class="col text-center mx-auto"><input type="number" class="m-1" min="5" max="125" name="fr_threshold" #fr_threshold></div>
                <div class="col text-center mx-auto"><input type="number" class="m-1" min="15" max="100" name="t_threshold" #t_threshold></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="currentData" class="container rounded border bg-light m-1">
            <!--"load": sd[1], "frictionforce":sd[2], "rotationrate": sd[3], "temperature": sd[4]-->
            <div class="row h5">
                <div class="col">Value</div>
                <div class="col">RPM</div>
                <div class="col">Load, N</div>
                <div class="col">Friction, N</div>
                <div class="col">T, °C</div>
                <div class="col">μ,-</div>
            </div>
            <div class="row border-top">
                <div class="col">average</div>
                <div class="col">{{currentData.adb[3]| number:'1.1-1'}}</div>
                <div class="col">{{currentData.adb[1]| number}}</div>
                <div class="col">{{currentData.adb[2]| number}}</div>
                <div class="col">{{currentData.adb[4]| number:'1.1-1'}}</div>
                <div class="col">{{currentData.adb[2]/currentData.adb[1]| number}}</div>
            </div>
            <div class="row border-top font-weight-light">
                <div class="col">actual</div>
                <div class="col">{{currentData.db[3]| number:'1.1-1'}}</div>
                <div class="col">{{currentData.db[1]| number}}</div>
                <div class="col">{{currentData.db[2]| number}}</div>
                <div class="col">{{currentData.db[4]| number:'1.1-1'}}</div>
                <div class="col">{{currentData.db[2]/currentData.db[1]| number}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container rounded border bg-light m-1">
                <canvas baseChart #listen height="400"
                        [datasets]="ChartListen.lineChartData"
                        [labels]="ChartListen.lineChartLabels"
                        [options]="ChartListen.lineChartOptions"
                        [colors]="ChartListen.lineChartColors"
                        [legend]="ChartListen.lineChartLegend"
                        [chartType]="ChartListen.lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>
