<div class="container-fluid">
    <div class="row">
        <div class="container rounded border bg-light m-1">
            <h6>Rotation control</h6>
            <input type="number" [(ngModel)]="rpmVal" name="rpm" #rpm>
            <button type="button" class="btn btn-info m-1" (click)="rotation()">Set RPM {{rpmVal| number:'1.1-1'}}[RPM]/{{rpmVal/60.0| number:'1.1-1'}}[Hz]</button>
            <button type="button" class="btn btn-info m-1" (click)="StopRotation()">Stop</button>
            <div *ngIf="currentData" class="btn btn-light m-1 disabled">{{currentData.rotationrate| number}}</div>
        </div>
    </div>
    <div class="row">
        <div class="container rounded border bg-light m-1">
            <div class="row">
                <div class="col-5">
                    <h6>Load control</h6>
                    <div class="row justify-content-between">
                        <button type="button" class="btn btn-info m-1" (click)="loadPlus()">Increase load</button>
                        <!-- class="btn btn-light m-1" -->
                        <div *ngIf="currentData" class="btn btn-light m-1 disabled">{{printNumVal(currentData.load)}}</div>
                        <button type="button" class="btn btn-info m-1" (click)="loadMinus()">Decrease load</button>
                    </div>
                    
                </div>
                    <div class="col-7">
                        <h6>Load threshold</h6>
                        <!-- [(ngModel)]="rpmVal" name="rpm" #rpm -->
                        <input type="number">
                        <button type="button" class="btn btn-info m-1">Apply</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="container rounded border bg-light m-1">
            <table *ngIf="currentData" class="table">
                <thead>
                    <tr>
                        <!--<th scope="col">time, V</th>-->
                        <th scope="col">RPM</th>
                        <th scope="col">Load, N</th>
                        <th scope="col">Friction, N</th>
                        <th scope="col">Temperature, °C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--<td>{{currentData.time| number}}</td>-->
                        <td>{{currentData.rotationrate| number}}</td>
                        <td>{{currentData.load| number}}</td>
                        <td>{{currentData.frictionforce| number}}</td>
                        <td>{{currentData.temperature| number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container rounded border bg-light m-1">
                <canvas baseChart #listen height="400"
                        [datasets]="ChartListen.lineChartData"
                        [labels]="ChartListen.lineChartLabels"
                        [options]="ChartListen.lineChartOptions"
                        [colors]="ChartListen.lineChartColors"
                        [legend]="ChartListen.lineChartLegend"
                        [chartType]="ChartListen.lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>
